

.VertNavbar {
    position: fixed; 
    /* top: 0;  - Unhighlight this to have the Navbar start from the top */
    left: -150px; /* Adjust as Needed */
    bottom: 0; /* Adjust as Needed */
    height: 80%; /* Adjust as Needed */
    width: 200px;
     z-index: 999;
    background-image: linear-gradient(to bottom, #cd561b, #9f4112);
    color: #fff;
    transition: left 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0 20px 20px 0;
  }
  
  .VertNavbar.expanded {
    left: 0px; /* Adjust as Needed */
  }
  .VertNavbar-logo {
    cursor: pointer;
    padding: 10px;
  }
  
  .VertNavbar-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .VertNavbar-links ul li {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .VertNavbar-links ul li a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .VertNavbar-links ul li .react-icon {
    margin-left: auto;
    margin-right: 3px;
  }
  
  .bottom-section {
    margin-bottom: 10px;
    padding-bottom: 15px;
  }
  
  .bottom-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .bottom-section ul li {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .bottom-section ul li a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .bottom-section ul li .react-icon {
    margin-left: 3px;
  }
  
  .logout-option {
    margin-top: auto;
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .logout-option span {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .logout-option a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .logout-option .react-icon {
    margin-left: auto;
    margin-right: 3px;
  }

  /* Content Will need to be in a div to be shifted by the navigation bar depending on the state - This value will need to match the value the navbar shifts by*/
  .page-content {
    flex-grow: 1;
    margin-left: 50px;
    padding-left: 2%;
    transition: margin-left 0.2s ease-in-out;
  }
  .shifted-content {
    margin-left: 200px;
  }