@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap');

:root {
  --White: #FAF9F6;
  --Primary: #E85F5C;
  --Secondary: #282A3E;
  --MainFont: "Josefin Sans", sans-serif;
  --Shadow: rgba(0,0,0,.05) -10px 10px 5px;
  --FontColour: #142c31;
  --DefaultPadding: 1px 10px;
  --TextFont: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.JesefinWeight{
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

body{
  background-color: var(--White);
  font-family: var(--TextFont);
}

/* DIVS For displaying Content */
.GLOBAL-center{
  margin: auto;
  width: 100%;
  text-align: center;
}
/* Banner */

.HeaderContrainer{
  display:flex;
  flex-direction:column;
}
.Logo{
  font-family: var(--MainFont);
  color: var(--Primary);
  font-size: 2rem;
  text-decoration: none;
}
.BannerContainer {
  background-color: var(--White);
  font-family: var(--MainFont);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--DefaultPadding);
  margin: auto;
}
.BannerLink, .BannerLink:visited {
  font-size: 1.25rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--Secondary);
  padding: 0px 5px 0px 5px;
  margin: auto;
}
.BannerLink:hover {
  text-decoration: 2px solid underline var(--Primary)
}
.ProjectBanner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Secondary);
  padding: var(--DefaultPadding);
}

.ProjectBannerTitle {
  color: var(--White);
  text-transform: uppercase;
  font-family: var(--MainFont);
}

.ProjectBanner a {
  color: var(--White);
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--MainFont);
}
.ProjectBanner a:hover {
  color: var(--Primary)
}

.InstructionsBanner{
  background-color: var(--Primary);
  text-align: justify;
  font-size: smaller;
  color: var(--White);
  padding: 10px;
  white-space: pre-line;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
}

.ComponentWindow {
  background-color: var(--White);
  margin: 2% 2%;
  padding: 20px;
  border-radius: 0px 5px 5px 0px;
  box-shadow: var(--Shadow);
  border-left: 4px solid var(--Primary);
}